@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600&display=swap");

:root {
  --white: #fff;
  --light-white: #eaf2ee;

  --ffp: "Poppins", sans-serif;
  --ffs: "Roboto Mono", monospace;
}

.dark {
  --lightDark-primary: #046c4c;
  --veryDark-primary: #032b21;
  --sub-text: #d2d4d6;
  --bg-main: #050e0c;
  --bg-primary: #0dd8a4;
  --text: #fff;
  --button: #0dd8a4;
}

.light {
  --lightDark-primary: #046c4c;
  --veryDark-primary: #75ffd6;
  --bg-main: #fff;
  --bg-primary: #0dd8a4;
  --text: #344251;
  --sub-text: #a3a3a3;
  --button: #344251;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-main);
  color: var(--text);
  font-family: var(--ffp);
  position: relative;
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  line-height: 1.7;
  font-family: var(--ffs);
  color: var(--sub-text);
}

.fixedElem {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;

  width: 100%;
  height: 100%;
  min-height: 100vh;

  div {
    width: 2px;
    height: 100%;
    background-color: var(--veryDark-primary);
    opacity: 40%;
  }
}

.dark-light {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--bg-main);
  .toggle {
    --size: 3rem;

    appearance: none;
    outline: none;
    cursor: pointer;

    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: hsl(240, 100%, 95%);

    transition: all 500ms;

    &:checked {
      --ray-size: calc(var(--size) * -0.4);
      --offset-orthogonal: calc(var(--size) * 0.65);
      --offset-diagonal: calc(var(--size) * 0.45);

      transform: scale(0.75);
      color: hsl(40, 100%, 50%);
      box-shadow: inset 0 0 0 var(--size),
        calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
        var(--offset-orthogonal) 0 0 var(--ray-size),
        0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
        0 var(--offset-orthogonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
          var(--ray-size),
        var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0
          var(--ray-size),
        var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0
          var(--ray-size);
    }
  }
}
