@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto+Mono:wght@300;400;500;600&display=swap");

:root {
  --white: #fff;
  --light-white: #eaf2ee;

  --ffp: "Poppins", sans-serif;
  --ffs: "Roboto Mono", monospace;
}

.dark {
  --lightDark-primary: #046c4c;
  --veryDark-primary: #032b21;
  --sub-text: #d2d4d6;
  --bg-main: #050e0c;
  --bg-primary: #0dd8a4;
  --text: #fff;
  --btn-text: #fff;
  --button: #0dd8a4;
}

.light {
  --lightDark-primary: #046c4c;
  --veryDark-primary: #75ffd6;
  --bg-main: #fff;
  --bg-primary: #0dd8a4;
  --text: #344251;
  --sub-text: #a3a3a3;
  --btn-text: #fff;
  --button: #344251;
}

$breakpoints-up: (
  "x-large": 75rem,
  // 1200
  "large": 62.5rem,
  // 1000
  "small": 48rem,
  // 768
  "mobile": 33.875rem,
  // 432
);

$breakpoints-down: (
  "x-large": 74.9375rem,
  "large": 62.4375rem,
  "small": 47.937rem,
  "mobile": 33.8125rem,
);

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down,$size)) {
    @content;
  }
}
@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints-up,$size)) {
    @content;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

html {
  font-size: 62.5%;

  @include breakpoint-down(small) {
    font-size: 55.5% !important;
  }
  @include breakpoint-down(mobile) {
    font-size: 48.5% !important;
  }
}

body {
  background-color: var(--bg-main);
  color: var(--text);
  font-family: var(--ffp);
  position: relative;
}

button {
  outline: none;
  border: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  line-height: 1.7;
  font-family: var(--ffs);
  color: var(--sub-text);
}

h1 {
  font-size: 5rem;
  text-transform: capitalize;
}

h2 {
  font-size: 3.8rem;
}

.fixedElem {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;

  width: 100%;
  height: 100%;
  min-height: 100vh;

  z-index: -1;

  div {
    width: 2px;
    height: 100%;
    background-color: var(--veryDark-primary);
    opacity: 40%;
  }
}

.dark-light {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--bg-main);
  z-index: 9999;
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  border-radius: 50%;
  .toggle {
    --size: 3rem;

    appearance: none;
    outline: none;
    cursor: pointer;

    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: hsl(240, 100%, 95%);

    transition: all 500ms;

    &:checked {
      --ray-size: calc(var(--size) * -0.4);
      --offset-orthogonal: calc(var(--size) * 0.65);
      --offset-diagonal: calc(var(--size) * 0.45);

      transform: scale(0.75);
      color: hsl(40, 100%, 50%);
      box-shadow: inset 0 0 0 var(--size),
        calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
        var(--offset-orthogonal) 0 0 var(--ray-size),
        0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
        0 var(--offset-orthogonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0
          var(--ray-size),
        var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0
          var(--ray-size),
        var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0
          var(--ray-size);
    }
  }
}

.anime-hover {
  width: 100%;
  height: 100%;
  max-width: max-content;
  white-space: nowrap;
  padding: 0.5rem 0.5rem;
  position: relative;
  transition: color 0.6s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--bg-primary);
    z-index: -1;
    transition: height 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  }

  &:hover {
    color: var(--bg-primary);
    &::after {
      animation: anime1 1s linear;
    }
  }

  @keyframes anime1 {
    0% {
      height: 5%;
      opacity: 1;
    }
    50% {
      height: 100%;
      opacity: 0.5;
    }
    100% {
      height: 5%;
      opacity: 1;
    }
  }
}

.btn {
  width: 150px;
  height: 40px;
  font-size: 1.6rem;
  background-color: var(--bg-primary);
  color: var(--btn-text);
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-transform: capitalize;
  overflow: hidden;
  font-weight: 500;
  border-radius: 0.5rem;
  white-space: nowrap;
  border: 1px solid var(--bg-primary);
  z-index: 1;
  transition: all 0.6s ease-in-out;

  span {
    translate: 0 -4.2rem;
    transition: all 0.6s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  }

  &:hover {
    span {
      translate: 0 0;
    }
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  @include breakpoint-down(small) {
    gap: 2.5rem;
    span {
      font-size: 2rem !important;
      translate: 0 -5.4rem;
    }
  }
}

// header

.header {
  padding: 1rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .menu {
      --gap: 2.5rem;
      display: flex;
      align-items: center;
      gap: var(--gap);
      font-size: 1.5rem;
      font-weight: 400;
      .nav {
        display: flex;
        align-items: center;
        gap: var(--gap);
      }
    }
    @include breakpoint-down(mobile) {
      padding: 0;
      .logo {
        &::after {
          left: -2.4rem !important;
        }
      }
      .btn {
        display: none;
      }
    }
  }

  .hamMenu {
    display: none;
    width: 50px;
    aspect-ratio: 1;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex-direction: column;
    cursor: pointer;
    z-index: 9999;

    @include breakpoint-down(large) {
      display: flex;
    }

    span {
      display: inline-block;
      width: 100%;
      height: 0.4rem;
      background-color: var(--bg-primary);
      border-radius: 1rem;
      transform-origin: 6px 2px;
      &:nth-child(2) {
        translate: 6px 0;
      }

      @include breakpoint-down(mobile) {
        transform-origin: 8px 2px;
      }
      transition: all 0.5s ease-in-out;
    }
  }

  .hamMenu.active {
    span {
      &:nth-child(2) {
        opacity: 0;
      }

      &:first-child {
        rotate: 45deg;
      }

      &:last-child {
        rotate: -45deg;
      }
    }
  }
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -3rem;
    width: 20px;
    height: 100%;
    background-color: var(--bg-primary);
    z-index: 1;
    border-radius: 2px;
  }
}

@include breakpoint-down(large) {
  .light .header .menu .navigation .nav li a {
    color: var(--light-white) !important;
  }
  .header {
    .container {
      .menu {
        .navigation {
          position: fixed;
          top: 0;
          left: 0;
          z-index: 99;

          width: 0%;
          height: 100%;
          min-height: 100vh;
          background-color: var(--lightDark-primary);
          overflow: hidden;

          .nav {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            flex-direction: column;

            li {
              translate: 0 100px;
              opacity: 0;
              scale: 0;
              font-size: 2rem;
            }
          }
        }

        .navigation.active {
          width: 100%;
        }
      }
    }
  }
}

//  hero

.hero {
  width: 100%;
  height: 100%;
  position: relative;

  .smallimage {
    div {
      position: absolute;
      scale: 0;
      opacity: 0;
      svg {
        fill: #0075589d;
      }

      &:first-child {
        top: 10%;
        left: 10%;
        rotate: -20deg;
      }

      &:nth-child(2) {
        top: 20%;
        right: 5%;
        rotate: 25deg;
      }

      &:nth-child(3) {
        bottom: 10%;
        left: 18%;
        rotate: 20deg;
      }

      &:last-child {
        bottom: 20%;
        right: 15%;
      }
    }

    @include breakpoint-down(small) {
      div {
        &:nth-child(2) {
          top: 5%;
          right: 5%;
          rotate: 25deg;
        }

        &:nth-child(3) {
          bottom: 10%;
          left: 18%;
          rotate: 20deg;
        }

        &:last-child {
          bottom: 20%;
          right: 15%;
        }
      }
    }
  }

  .container {
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 100px);

    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      flex-direction: column;
      text-align: center;

      a {
        translate: 0 200px;
        opacity: 0;
        scale: 0;
      }
    }
  }

  p {
    translate: 0 100px;
    opacity: 0;
    font-size: 1.6rem;
    max-width: 800px;
  }

  h1 {
    translate: 0 100px;
    text-align: center;
    opacity: 0;

    span {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: url(../Assets/Underline.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 100%;
        height: 100%;
      }
    }
  }
}
